/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('/public/background.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.navbar {
  width: 100%;
  
  padding: 15px 30px;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}

.nav-title {
  position: absolute;
  top: 25px;
  left: 20px;
}

.main-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin-top: 20px;
  color: black;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.input-box {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.predict-btn {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.predict-btn:hover {
  background: #0056b3;
}

.result-container {
  margin-top: 20px;
  min-height: 50px; /* Ensures space for dynamic content */
  display: flex;
  justify-content: center;
}
.result-box {
  padding: 15px;
  border: 1px solid #ddd;
  font-weight: bold;
  background: #f8f9fa;
  border-radius: 5px;
  min-width: 80%;
  text-align: center;
}


